header {
  font-family: "Helvetica", sans-serif;
}

/* selector/specificy
  #id
  .class
  element
  wildcard (everything)
 {
    attribute: value;
} */

#idThatDoesntExist {
  color: purple;
}

* {
  color: brown;
}

#cuteBear {
  width: 75%;
}

#someId {
  color: orange;
  background-color: red;
}

p {
  color: green;
  width: 90%;
}

#specificImage {
  background-color: #71ce2a;
}

#uniqueId {
  background-color: black;
}

p {
  font-family: "Roboto", -apple-system, "San Francisco", "Segoe UI",
    "Helvetica Neue", sans-serif;
  color:black;
}

.link {
  color: purple;
  display: inline-block;
  margin: 2px;
  width: calc(33% - 6px);
  background-color: aqua;
}

.redText {
  color: red;
}

.blueText {
  color: blue;
}

.center {
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
}

img {
  display: block;
  height: auto;
  width: 400px;
  margin: auto;
}

p {
  height: 100px;
  margin: 5px;
}
